html {
    font-size: 16px;
}

header {
    background-color: rgba(241, 182, 55, 1);
    height: 29px;
    margin-bottom: 3em;
    font-family: a-otf-ud-shin-go-pr6n;
}

body {
    font-family: a-otf-ud-shin-go-pr6n;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: rgba(241, 182, 55, 1);
    height: 3em;
    margin-top: 3em;
    font-family: a-otf-ud-shin-go-pr6n;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.8rem;
    background-color: rgba(243, 171, 37, 0.24)
}

main {
    flex: 1;
    margin: 0 20px;
    padding-bottom: 10em;
}

aside {
    width: 220px;
}

