html{
  font-size: 16px;
}

h1{
  font-size: 3.2rem;
}

h2{
  font-size: 2.8rem;
}

.div_link {
  position: relative;
  left: 200px;
  width: 600px;
  height: 30px;
  /* border: 1px solid #000000; */
  margin-bottom: 1.9em;
}

.div_link .a_link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:rgba(243, 171, 37, 0.24)
}

.div_article {
  position: absolute;
  left: 10%;
  right: 10%;
  padding-bottom: 10em;
}


.left_sidebar {
  position: absolute;
  left: 0;
  width: 96px;
  /*background-color: moccasin;
  border: 8px solid chocolate;
   */
  box-sizing: border-box;
}

.right_sidebar {
  position: absolute;
  right: 0;
  width: 96px;
  /*background-color: moccasin;
  border: 8px solid chocolate;
   */
  box-sizing: border-box;
}

.header {
  height: 48px;
  box-sizing: border-box;
  /*
    border: 8px solid blue;
    background-color: lightcyan;
     */
}



/* .app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
} */

.footer_margin {
  height: 3em;
}

header {
  background-color: rgba(241, 182, 55, 1);
  height: 29px;
  margin-bottom: 3em;
  font-family: a-otf-ud-shin-go-pr6n;
}

body {
  font-family: a-otf-ud-shin-go-pr6n;
  display: flex;
  flex-direction: column;
}

main {
  padding-bottom: 10em;
}

footer {
  background-color: rgba(241, 182, 55, 1);
  height: 3em;
  margin-top: 3em;
  font-family: a-otf-ud-shin-go-pr6n;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 1.3rem;
}

@media screen and (max-width:330px){
  .content {
    font-size: 1.9rem;
  }
}

@media screen and (max-width:380px){
  .content {
    font-size: 1.7rem;
  }
}

@media screen and (max-width:430px){
  .content {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:770px){
  .content {
    font-size: 1.35rem;
  }
}